body {

    font-family: 'roboto', sans-serif;
    margin:0px;
}

.contenido {
  background-color: #fab733;
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  height: 100%;


}


.main-header{
  background-color: #fab733;
  width: 100%;
   height: 66px;
  position: -webkit-sticky;
  top: 0;
  z-index: 1001;
  display: flex;

}

#goodeal-search {
    display: flex;
    align-items: center;
    height: 100%;
    width: 65%;
}
.main-header-logo  {
    display: block;
    margin-top: auto;
    margin-left: 1rem;
  }


  *, ::after, ::before, :after, :before {
      box-sizing: inherit;
  }


  .goodealSearch {
      width: 50%;
      padding: 0 16px;
      position: relative;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .goodealSearch__input {
      position: relative;
      -webkit-flex: 1 1;
      -ms-flex: 1 1;
      flex: 1 1;
  }
  .goodealSearch__input input {
      width: 10rem;
      height: 42px;
      border-radius: 21px;
      background-color: #fff;
      border: 1px solid transparent;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 0.875rem;
      color: #253238;
      padding: 0 32px 0 44px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      outline: none;
  }
  @media (min-width: 768px) {
  	  .goodealSearch__input input{
  	width: 20rem;
  	}
  }

  .goodealSearch__input .Icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    width: 28px;
    height: 28px;
    z-index: 1;
}
.BtnLogin {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.875rem;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 12px;
    padding: 0 20px;
    height: 42px;
    background-color: white;
    border: 1px solid #fab733;
    color: #fab733;
    cursor: pointer;
}

.main-header-login .clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.main-header.clearfix{
  width: 100%;
  position: fixed;
}
#main-header-login-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s 350ms,opacity 350ms linear;
    width: 510px;
    height: 65px;
    background-size: 510px 65px;
}
.main-header-login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-left: auto;
    background-color: #fab733;
}
.job{

  display:block;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0 20px;
  width: 15rem;
  height:6rem;
  background-color: white;
  border: 1px solid #fab733;
  color: #4a4a49;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
}

.choose{
margin-top: 10rem;

}
@media (min-width: 768px) {
  .choose {
      margin-top: 20rem;
  }}



#tab-bar {
    display:none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fab733;
    z-index: 20;

}
.TabBar {
    padding-bottom: max(10px, env(safe-area-inset-bottom));
}
.TabBar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-height: 64px;
    border-top: 1px solid #ECEFF1;
    }
    .TabBar__option {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 768px) {
  #tab-bar {
      display: initial;
  }}

  #menuheader {
      display:none;
      width: 50%;
      background-color:#fab733;
      z-index: 20;

  }
  .items {
      padding-bottom: max(10px, env(safe-area-inset-bottom));
  }
  .items {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      min-height: 64px;

      }
      .items__option {
      position: relative;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none;
  }

  @media (min-width: 768px) {
    #menuheader {
        display: initial;
    }}

.buttonjob{

  display:block;
  font-size: 2rem;
  border-radius: 10px;
  width: 10rem;
  height:4rem;
  background-color: #4a4a49;
  color: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  margin-top:5rem;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
  }

  @media (max-width: 768px) {
    .buttonjob{
        margin-left: 5rem;
    }}
    .profile-wrapper{
      padding-top: 5rem;
    }
    .fondo{
      width: 8rem;
      height: 8rem;
      background-color: #c4c4c4;
      margin-left: 1rem;
      text-align: center;
      border-radius: 100%;
    }
    .usuario{
      margin-top: 1rem;
    }
    .nombre{
      margin-left: 1rem;
      color: #fab733;
    }
    .profesion{
      margin-left: 1rem;

      color:#4a4a49;
      font-weight: 500;
    }
    .ajustes{
      margin-top: 1rem;
      width: 20rem;
      text-align: end;
    }
    .contenido-wrapper {
        width: 80%;
        margin-left: 2rem;
        margin-bottom: 8rem;
    }
    h2.study {
      margin: 0;
      margin-top: 1rem;
      color:#4a4a49;
      font-weight: bold;
    }
    h3.studiestype{
    margin: 0;
    color:#4a4a49;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;

    }
    p{
    margin: 0;
    font-size: 1rem;
    color:#4a4a49;
    font-weight: 300;
    }
    .insti{
    margin-top: 1rem;
    }
    .studies {
      margin-top: 2rem;
    }
    ul {

        color: #4A4A49;
        font-weight: lighter;
        line-height: 1.5rem;
    }

      @media (min-width: 768px){
      .profile-wrapper {
          max-width: 980px;
          margin-left: auto;
          margin-right: auto;
      }}
      @media (min-width: 768px){
      .ajustes {
          max-width: 980px;
          width: 50rem;
          margin-right: 10rem;

      }}

    .home-section .home-subsections .home-subsection-wrapper {
        margin-bottom: 16px;
    }


    .home-subsection-wrapper  {
        text-align: left;
        display: block;
        border-radius: 5px;
        box-shadow: 0 0 0 1px #ECEFF1;
        padding: 4px 4px 16px;
        overflow: hidden;
        background: #4a4a49;
        -webkit-transition: all .15s ease;
        -moz-transition: all .15s ease;
        -o-transition: all .15s ease;
        transition: all .15s ease;
        margin-top: 2rem;
    }
    .home-subsection-wrapper:hover {
      background-color: #fab733;
    }
    .home-subsection {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    .guardar{
      margin: 1rem;
      float: right;
    }
    .home-section-wrapper{
      margin-top: 2rem;
      display: block;
      position: relative;
    }


        @media (min-width: 768px) {
          .home-subsection-wrapper {
              display:inline-block;
          }}
     h3 {
      font-weight: 300;
      font-size: 1.5rem;
      color:white;

    }
    h4{
      font-weight: 300;
      font-size: 1rem;

    }
    h5{
      float: right;
    }


    h2,h3,h4,h5{
      margin: 1rem 0rem;
    }
    .home-section-wrapper{
          padding: 80px 0 70px ;
    }
    .home-section-container{
      padding-right: 10px;
      padding-left: 10px;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
      text-align: center;
    }
    /*@media (min-width: 768px){
    .home-section-container {
        max-width: 980px;
    }}
    */

    .row-section-job {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
       margin-left: -10px;
       }
      a{
        text-decoration: none;
      }
      body {

          font-family: 'roboto', sans-serif;
          margin:0;
          overflow-x: hidden;
      }
      .chat {
          padding: 0 0 50px 0;
          margin-top: 70px;

      }
      .chat li {
          padding: 0.5rem;
          overflow: hidden;
          display: flex;
            }

      .other .msg {
          order: 1;
          border-radius: 2rem;
          border: solid 1px #c4c4c4;

            }

      .self {
          justify-content: flex-end;
          align-items: flex-end;
            }
      .self .msg {
          border: 1;
          border-radius: 2rem;
          background-color: #f9ecd0;

      }

      .msg {
          background: white;
          min-width: 50px;
          padding: 10px;
          border-radius: 2px;

            }
        .msg p {
          font-size: 1rem;
          margin: 0 0 0.2rem 0;
          color: #777;
            }



            input.textarea {
              position: fixed;
              bottom: 5rem;
              width: 95%;
              height: 50px;
              border: solid 1px #fab733;
              margin-right: 1rem;
              color: #666;
              font-weight: 400;
              border-radius: 3rem;
              padding-left: 1rem;
            }
      .icono{
        border-radius: 100%;
        background-color: white;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        font-size: 2rem;
        color:#4a4a49;
        font-weight: bold;
        display: block;
        margin-top: 0.5rem;
      }
      .atras{
        width: 27;
        height: 27;

      }
      .studioname{
        display: inline-block;
        color:white;
        font-size: 2rem;
        margin-top: 0.8rem;

      }
      .studio{
        width: 100%;
        display: inline-flex;
      }
      @media (min-width: 768px){
      .chat-wrapper {
          max-width: 980px;
          margin-left: auto;
          margin-right: auto;
      }}
      @media (min-width: 768px){
      .textarea{
          max-width: 980px;
          margin-left: auto;
          margin-right: auto;
      }}
      @media (min-width: 768px){
      .studio {
          max-width: 980px;
          margin-left: 20rem;;
          margin-right: auto;
      }}
.skills, .año, .insti{
  color:#4a4a49;
  font-weight:300;

}
.chats-job-wrapper{
  margin-top: 80px;
  margin-left: 2rem;
}
.titulo{
  color:#fab733;
  font-size: 2rem;
  font-weight: bold;

}
.icono-chat{
  border-radius: 100%;
  background-color: #c4c4c4;
  width: 4rem;
  height:4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color:#4a4a49;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}

.studioname-chat{
  display: inline-block;
  color:#4a4a49;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  line-height: 1rem;


}
.studio-chat{

  height: 5rem;
  display: inline-block;
}

@media (min-width: 768px){
.chats-job-wrapper {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}}

@media (min-width: 768px){
.textarea{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}}
@media (min-width: 768px){
.studio-chats {
    max-width: 980px;
    margin-left: 20rem;;
    margin-right: auto;
}}
.texto-chat{
  color:#c4c4c4;
  line-height: 2rem;
}
.iconobusiness{
  line-height: 8rem;
  width: 8rem;
  height: 8rem;
  background-color: #c4c4c4;
  margin-left: 1rem;
  text-align: center;
  border-radius: 100%;
  font-size: 5rem;
  color: #4a4a49;
}

button {
  background-color: #fab733;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;

}

button:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}




.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.next{
  position: fixed;
  bottom: 6rem;
  right: 3rem;
}
.respuesta{
  display:block;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0 20px;
  width: 10rem;
  height:4rem;
  background-color: white;
  border: 1px solid #fab733;
  color: #4a4a49;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
}
.answerarea{
  bottom: 5rem;
  width: 50%;
  height: 50px;
  border: solid 1px #f9ecd0;
  margin-right: 1rem;
  color: #666;
  border-radius: 1rem;
  padding-left: 1rem;
  background-color: #f9ecd0;
  margin-top: 1rem;
}
.questions{
  text-align: center;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}
.request {
    margin-top: 20rem;
    text-align: center;
}
.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menuCSS3 a {
    display: block;
    padding: 1em;
    background-color: #fab733;
    text-decoration: none;
    color: white;
    font-weight: 300;
    width: 5.5rem;
	}
	.menuCSS3 a:hover {
		background-color: #fcd588;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}
  .menuCSS3{
    margin-top: 4.1rem;
    font-size: 1rem;

    text-align: center;
  }
  @media (min-width: 768px){
.menuCSS3 {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}}
@media (max-width: 768px){
.menuCSS3 {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}}
#usuari{
  color:white;
  background-color: #fab733;

}
.salary{
  background-color: #fab733;
}
