body
    {
      font-family: Arial, Helvetica;
      background-color: #FF0000

    }

div

  {
  background-image:url(img/fonsgris.png);
  background-repeat: no-repeat;
  }

#contenidor
            {
              background-image: none;
              width: 675px;
              margin: 0 auto;
            }
