
#heart{
  position:relative;
  left:500px;
  animation: latidos 1s infinite;
  width: 150px;
  height: 150px;
}
.corazon1{
position:absolute;
width: 100px;
height: 150px;
background: red;
border-radius: 50px 50px 0 0;
transform: rotate(-45deg);
transform-origin: 50px 100px;


}

.corazon2{
  position:absolute;
  width: 100px;
  height: 150px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(45deg);
  transform-origin: 50px 100px;


}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}
