
body{
  font-size:1em;
}
p
  {
  font-size: 1,5em;
  line-height: 2em;
  text-align: justify;

  }
  /*
  0,75=12px
  1em=16px(paragrafo)
  1,5em=24(titulares)
  2em=32 (interlineat)
  */

img
  {
  width: 100px;
  }

div
  {
    width: 800px;
    margin: 0 auto;

  }
.esquerra
    {
      float: left;
      margin-right: 20px;

    }
.dreta
      {
        float: right;
        margin-left: 20px;

      }
.capitular
          {
            float: left;
            margin-right: 10px;
            width: 50px;

          }



.inicial {
  color: pink;
  text-indent:-16px;
}
.inicial::first-letter{
  color: white;
  display: inline-block;
}

.c1{
  width: 390px;
  float: left;
}
.c2{
  width: 390px;
  float: right;
}

h2{
  font-family: georgia, Times;
  font-family: helvetica, arial, sans-serif;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 1em;

}
