body{
  background-color: Tomato;
}
/*movil vertical*/
@media screen and (max-width:640px) and (orientation:portrait){
  body{
    background-color: #008c7b;
  }
}
/*movil horizontal*/
@media screen and (max-width:640px)and (orientation:landscape){
  body{
    background-color: #03a8c1;
  }
}
/*escritori*/

@media screen and (min-width:1200px){
  body{
    background-color: #ef4a2d;
  }
}

/*tblets vertical*/
@media screen and (min-width:641px) and (max-width:1200px) and (orientation:portrait){
  body{
    background-color: #f38819;
  }
}
/*tblets horizontal*/
@media screen and (min-width:641px) and (max-width:1200px) and (orientation:landscape){
  body{
    background-color: #f38819;
  }
}
