ul{
  width: 880px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 0 auto;

}
/* overflow: hidden;
          visible;
          scroll;

          para modificar la visibilidad del texto desbordado de las cajas */

li {
  background-color: salmon;
  list-style-type: none;
  display: block;
  margin: 10px;
  width: 200px;
  height: 200px;
  float: left;
  box-shadow: gray 5px 5px 5px;
  font-size: 24px;
  font-family: Helvetica Neue;
  text-align: center;
  background-size: 100%;
  border-radius: 100px;
}
/* .anulador {
  clear: both;
}
clear: both;
          left;
          right;
para anular el efecto del float */
#a01 {
  background-image: url(img/a01.png);

}
#a02 {
  background-image: url(img/a02.png);

}
#a03 {
  background-image: url(img/a03.png);

}
#a04 {
  background-image: url(img/a04.png);

}
#a05 {
  background-image: url(img/a05.png);


}
#a06 {
  background-image: url(img/a06.png);

}
#a07 {
  background-image: url(img/a07.png);

}
a {
  height: 40px 40px;
  display: block;
  margin-top: 90px;
  color: #f23916;
  background-color: white; border-radius: 100px; height: 100px auto; width: 150px;
  margin-left: 25px;
  text-decoration: none;


}/* para que el enlace funcione para toda la caja */
